# MongoDB для Users
MONGO_USERS_HOST=localhost         # или имя контейнера в Docker Compose
MONGO_USERS_PORT=27018             # порт базы
MONGO_USERS_DB=promo-users         # имя базы
MONGO_USERS_USER=your_username     # пример логина
MONGO_USERS_PASS=your_password     # пример пароля

# Redis
REDIS_HOST=redis                   # хост Redis
REDIS_PORT=6379                    

# JWT
JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret
